<div class="users-list__params">
  <div class="users-list__search">
    <input type="text" placeholder="Поиск по имени" [formControl]="searchControl" />
  </div>

  <div class="select-view-mode">
    <button
      class="btn btn--reset btn--opacity"
      (click)="onViewMode.emit('grid')"
      [class.active]="viewMode === 'grid'"
    >
      <img src="assets/img/grid.svg" alt="" />
    </button>

    <button
      class="btn btn--reset btn--opacity"
      (click)="onViewMode.emit('list')"
      [class.active]="viewMode === 'list'"
    >
      <img src="assets/img/lines.svg" alt="" />
    </button>
  </div>
</div>
